*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: #0e1329;
    color: #fff;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-align: center;
}

.content-box{
    background: #2d3c77;
    border-radius: 25px;
    width: 80%;
    margin: 100px auto;
    padding: 25px;
}

.toDo-item{
    background: #41539e;
    border-radius: 25px;
    padding: 5px;
    margin: 5px 0;
    justify-content: space-between;
    display: flex;
}

p{
    margin: 10px 20px;
    display: inline;
}

.toDo-item:hover{
    transition: .5s;
    background: #4b5eaa;
}

.toDo-complited{
    text-decoration: line-through;
    opacity: .5;
}

.input-item{
    background: #0a135e;
    color: #fff;
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 15px 20px;
    margin: 5px 0;
    width: 90%;
    font-size: 1.5rem;
}

button{
    background: #181e47;
    color: #fff;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 15px 20px;
    margin: 5px 0;
    width: 10%;
    font-size: 1.5rem;
}

button:hover{
    transition: .5s;
    background: #1c2792;
}

.delete-item {
    position: relative;
    right: 15px;
    top: 7px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    display: inline;
  }
  .delete-item:hover {
    opacity: 1;
  }
  .delete-item:before, .delete-item:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 5px;
    background-color: #ffffff;
  }
  .delete-item:before {
    transform: rotate(45deg);
  }
  .delete-item:after {
    transform: rotate(-45deg);
  }